.home {
  // padding: 50px 0px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

  &__header {
    background-image: url('../imgs/food-banner-1920x560.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
    z-index: 1;

    &-container {
      position: relative;
      margin-top: 70px;
      min-height: 120px;
      width: 100%;
      text-align: center;
    }
  }

  .home__products {
    position: relative;
    background-color: lightgray;
    padding: 15px 0;

    .left-arrow {
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 40px;
      opacity: 0.5;
      z-index: 5;
    }

    .right-arrow {
      position: absolute;
      top: 50%;
      right: 0;
      width: 20px;
      height: 40px;
      opacity: 0.5;
      z-index: 5;
    }

    &-wrapper::-webkit-scrollbar {
      //chrome
      display: none;
    }

    &-wrapper {
      display: flex; //carousel
      justify-content: start;
      overflow-x: auto;
      scroll-snap-type: x;
      scroll-behavior: smooth;
      scrollbar-width: none; //firefox
      cursor: grab;

      .slider {
        scroll-snap-align: start;
        user-select: none;
        box-shadow: 2px 2px rgba(0, 0, 0, 0.235);
        margin: 0 10px;
      }
    }

    &-card {
      position: relative;
      background-color: white;
      min-width: 320px;
      width: 100vw;
      // max-height: 225px;
      padding: 10px 20px 10px;
      border-radius: 5px;
      overflow: hidden;

      .sale-span {
        position: absolute;
        top: 20px;
        left: -50px;
        display: inline-block;
        background-color: var(--primary-color);
        color: white;
        font-weight: 700;
        transform: rotate(320deg);
        text-align: center;
        width: 180px;
        overflow: hidden;
      }

      h3 {
        padding: 10px 10px 20px;
        font-size: 16px;
        text-align: center;
      }

      .caption-img-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        .caption-button-box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          figcaption {
            font-size: 14px;
            hyphens: auto;

          }

          p {}

          .button {

            text-transform: uppercase;
            font-weight: 700;
            padding: 5px;
            width: 100%;

          }


        }

        img {
          height: 50%;
          width: 50%;
          margin-right: 10px;
          z-index: 0;
        }

      }
    }
  }


  .home__reviews-container {
    background-color: white;
    margin-top: 10px;
    padding: 10px 20px;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.263);
    z-index: 1;

    .stars {
      text-align: center;
    }

    .review {
      padding-top: 5px;
      text-align: center;
      font-size: 12px;
      font-style: italic;
    }

    .user {
      text-align: right;
    }
  }

}