.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__header {
    background-image: url('../imgs/banner-login-1920x560.png');
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
    z-index: 1;

    &-container {
      position: relative;
      margin-top: 70px;
      min-height: 120px;
      width: 100%;
      text-align: center;
    }
  }

  &__auth {
    &-container {
      min-height: 220px;
      padding: 20px 10px;
      margin: 20px;
      border-radius: 4px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: unset;
      flex-direction: column;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.341);

      h3 {
        text-align: center;
      }

      p {
        text-align: center;
        font-size: 14px;
        padding: 10px;
        margin-bottom: 10px;
      }

      &>div {
        position: relative;
        opacity: 0;
        margin: 0 auto;
        width: fit-content;
        text-align: center;
        color: red;
        border-bottom: 1px solid red;

        img {
          display: none;
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 30px;
        }
      }

      .login__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        max-width: 270px;
        margin: 0 auto;
        margin-bottom: 20px;

        .username {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          &-input-container {
            height: 50px;
            display: flex;
            flex-direction: column;

            input {
              min-height: 25px;
              text-indent: 10px;
            }

            span {
              text-align: center;
              opacity: 0;
              color: red;
              font-size: 12px;
            }
          }
        }

        .password {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          &-input-container {
            display: flex;
            flex-direction: column;
            height: 50px;
            align-items: right;

            input {

              min-height: 25px;
              text-indent: 10px;
            }

            span {
              text-align: center;
              opacity: 0;
              color: red;
              font-size: 12px;
            }
          }
        }

        .admin-container {
          padding: 10px 0;
        }

        button {
          padding: 10px;
          margin-top: 10px;
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      .password-rules {
        font-weight: 700;
        text-indent: 30px;
        font-size: 14px;
        padding: 10px;
        list-style: inside;
        list-style-type: ' → ';

        li {
          font-weight: 400;
        }
      }
    }
  }
}

@media screen and (min-width: 640px) {
  .login {

    &__auth {
      &-container {
        max-width: 584px;
        margin: 20px auto;

      }
    }
  }
}

@media screen and (min-width: 658px) {
  .login {

    &__header {
      background-size: contain;
    }
  }
}

