@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: red;
  --primary-color-dark: rgb(107, 3, 3);
  --primary-color-light: rgb(253, 82, 82);
  --secondary-color: rgb(2, 143, 2);
  --secondary-color-dark: rgb(1, 76, 1);
  --secondary-color-light: rgb(4, 231, 4);
  --font: 'Urbanist', sans-serif;
}