@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.025rem;
}

:root {
  --primary-color: red;
  --primary-color-dark: rgb(107, 3, 3);
  --primary-color-light: rgb(253, 82, 82);
  --secondary-color: rgb(2, 143, 2);
  --secondary-color-dark: rgb(1, 76, 1);
  --secondary-color-light: rgb(4, 231, 4);
  --font: "Urbanist", sans-serif;
}

.outline-text {
  text-shadow: 5px 0px var(--secondary-color), 0px 5px var(--secondary-color), -5px 0px var(--secondary-color), 0px -5px var(--secondary-color), 5px -5px var(--secondary-color), -5px 5px var(--secondary-color), -5px -5px var(--secondary-color);
}

.button {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary_color-light);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
  text-align: center;
  color: white;
}
.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
  user-select: none;
}
.button:active {
  box-shadow: inset 1px 1px 2.5px rgba(0, 0, 0, 0.455);
  color: rgb(216, 216, 216);
}

main {
  min-height: 100vh;
}

body {
  font-family: var(--font);
  background-color: lightgray;
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.256);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: white;
}
.header__logo {
  height: 40px;
  width: 40px;
}
.header p {
  font-size: 20px;
  font-weight: 400;
}
.header__chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-image: url("/imgs/cart-100x100.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 35px;
  height: 35px;
  right: 15%;
  text-align: center;
}
.header__chart:hover {
  cursor: pointer;
}
.header__chart > p {
  text-align: center;
  font-size: 10px;
  width: 100%;
  padding: 0 9px 17px 0;
  font-weight: 700;
}
.header__burguer-menu {
  height: 30px;
  width: 35px;
}
.header__burguer-menu:hover {
  cursor: pointer;
}
.header .menu-button--active {
  border: 3px solid white;
  border-bottom: 10px solid white;
}
.header .show {
  display: block;
}
.header__navmenu {
  display: none;
  background-color: white;
  position: absolute;
  top: 50px;
  right: 0px;
  z-index: 5;
  width: 50%;
  max-width: 275px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.244);
  border-bottom-left-radius: 4px;
}
.header__navmenu-item {
  list-style: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.128);
}
.header__navmenu-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.584);
}
.header__navmenu-item a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 5px 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
}
.header__navmenu-item a:hover {
  color: var(--primary-color-dark);
}

.footer {
  display: none;
}

@media screen and (min-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.263);
  }
  .footer h4 {
    padding: 10px;
    text-align: center;
  }
  .footer__location {
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.272);
  }
  .footer p {
    text-align: center;
    padding: 30px;
    font-size: 14px;
    font-weight: 500;
  }
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__header {
  background-image: url("../imgs/food-banner-1920x560.png");
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.home__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.home .home__products {
  position: relative;
  background-color: lightgray;
  padding: 15px 0;
}
.home .home__products .left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 40px;
  opacity: 0.5;
  z-index: 5;
}
.home .home__products .right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 40px;
  opacity: 0.5;
  z-index: 5;
}
.home .home__products-wrapper::-webkit-scrollbar {
  display: none;
}
.home .home__products-wrapper {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: grab;
}
.home .home__products-wrapper .slider {
  scroll-snap-align: start;
  user-select: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.235);
  margin: 0 10px;
}
.home .home__products-card {
  position: relative;
  background-color: white;
  min-width: 320px;
  min-height: 223px;
  width: 100vw;
  max-width: 408px;
  max-height: 362px;
  padding: 10px 20px 10px;
  border-radius: 5px;
  overflow: hidden;
}
.home .home__products-card .sale-span {
  position: absolute;
  top: 20px;
  left: -50px;
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  transform: rotate(320deg);
  text-align: center;
  width: 180px;
  overflow: hidden;
}
.home .home__products-card h3 {
  padding: 10px 10px 20px;
  font-size: 16px;
  text-align: center;
}
.home .home__products-card .caption-img-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.home .home__products-card .caption-img-box .caption-button-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.home .home__products-card .caption-img-box .caption-button-box figcaption {
  font-size: 14px;
  hyphens: auto;
}
.home .home__products-card .caption-img-box .caption-button-box .button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  width: 100%;
}
.home .home__products-card .caption-img-box .product-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 50px;
  min-width: 160px;
  margin-right: 10px;
  z-index: 0;
}
.home .home__reviews-container {
  background-color: white;
  min-height: 125px;
  margin: 10px 0 20px;
  padding: 10px 20px;
  z-index: 1;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.263), 0 1px 6px rgba(0, 0, 0, 0.263);
}
.home .home__reviews-container .stars {
  text-align: center;
}
.home .home__reviews-container .review {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
.home .home__reviews-container .user {
  text-align: right;
  max-width: 543px;
  margin: 0 auto;
}

.footer {
  display: none;
}

@media screen and (min-width: 658px) {
  .home__header {
    background-size: contain;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.menu__header {
  background-image: url("../imgs/banner-menu-1920x560.png");
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.263);
  z-index: 2;
}
.menu__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.menu__products-type {
  position: relative;
  background-color: white;
  padding: 20px 20px 0px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.163), -2px 0px 0px rgba(0, 0, 0, 0.163);
}
.menu__products-type .left-arrow {
  position: absolute;
  top: 83px;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.menu__products-type .right-arrow {
  position: absolute;
  top: 83px;
  right: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.menu__products-type h3 {
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 700;
}
.menu__products-type-wrapper::-webkit-scrollbar {
  display: none;
}
.menu__products-type-wrapper {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: start;
  overflow-x: auto;
  scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px 0 5px;
  cursor: grab;
}
.menu__products-type-wrapper .slider {
  scroll-snap-align: start;
  user-select: none;
  margin: 0 10px;
}
.menu__products-type-wrapper .slider button {
  background-color: var(--primary-color);
  color: white;
  min-width: max-content;
  padding: 5px 10px;
}
.menu__products {
  position: relative;
  padding: 40px;
  text-align: center;
  background-color: white;
}
.menu__products .background {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
}
.menu__products .background img {
  height: 100%;
  max-width: 100vw;
  margin: -20px;
}
.menu__products .loading-gif {
  display: none;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 40%;
  max-width: 180px;
  z-index: 5;
  border-radius: 50%;
}
.menu__products-container figure {
  max-width: 400px;
  margin: 0 auto 20px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404);
}
.menu__products-container figure h3 {
  text-align: center;
  padding: 10px;
}
.menu__products-container figure img {
  width: 80%;
}
.menu__products-container figure figcaption {
  padding: 10px;
  hyphens: auto;
  text-align: justify;
}
.menu__products-container figure p {
  font-weight: 700;
  padding: 10px 0;
}
.menu__products-container figure button {
  width: 80%;
  padding: 10px;
  font-weight: 700;
}

@media screen and (min-width: 658px) {
  .menu__header {
    background-size: contain;
  }
  .menu__products .background {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
  }
  .menu__products .background img {
    height: 100%;
    max-width: 400px;
    margin: -20px;
  }
  .menu__products .container__try {
    width: 100%;
    margin: 0 auto;
  }
  .menu__products-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
  }
  .menu__products-container figure {
    max-width: 400px;
    padding: 0 10px 10px;
    margin: 0 auto 20px;
  }
  .menu__products-container figure .container1024 {
    display: flex;
  }
  .menu__products-container figure .container1024 img {
    max-width: 300px;
  }
  .menu__products-container figure .container1024 .product-info-1024 figcaption {
    padding: 0 10px;
  }
  .menu__products-container figure .container1024 .product-info-1024 p {
    padding: 10px;
  }
}
@media screen and (min-width: 914px) {
  .menu__header {
    background-size: contain;
  }
  .menu__products-type {
    margin: 0 auto;
    width: 1000px;
  }
  .menu__products {
    margin: 0 auto;
    width: 1000px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.163), -2px 0px 0px rgba(0, 0, 0, 0.163);
    z-index: -1px;
  }
  .menu__products .container__try {
    width: 100%;
    margin: 0 auto;
  }
  .menu__products-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 900px;
  }
  .menu__products-container figure {
    max-width: 400px;
    padding: 0 10px 10px;
    margin: 0 9px 20px;
  }
  .menu__products-container figure .container1024 {
    display: flex;
  }
  .menu__products-container figure .container1024 img {
    max-width: 300px;
  }
  .menu__products-container figure .container1024 .product-info-1024 figcaption {
    padding: 0 10px;
  }
  .menu__products-container figure .container1024 .product-info-1024 p {
    padding: 10px;
  }
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.login__header {
  background-image: url("../imgs/banner-login-1920x560.png");
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.login__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.login__auth {
  opacity: 0;
}
.login__auth-container {
  min-height: 220px;
  padding: 20px 10px;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.341);
}
.login__auth-container h3 {
  text-align: center;
}
.login__auth-container p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
.login__auth-container > div {
  position: relative;
  opacity: 0;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  color: red;
  border-bottom: 1px solid red;
}
.login__auth-container > div img {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
}
.login__auth-container .login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.login__auth-container .login__form .username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login__auth-container .login__form .username-input-container {
  height: 50px;
  display: flex;
  flex-direction: column;
}
.login__auth-container .login__form .username-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.login__auth-container .login__form .username-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.login__auth-container .login__form .password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.login__auth-container .login__form .password-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.login__auth-container .login__form .password-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.login__auth-container .login__form .password-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.login__auth-container .login__form .admin-container {
  padding: 10px 0;
}
.login__auth-container .login__form button {
  padding: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.login__auth-container .password-rules {
  font-weight: 700;
  text-indent: 30px;
  font-size: 14px;
  padding: 10px;
  list-style: inside;
  list-style-type: " → ";
}
.login__auth-container .password-rules li {
  font-weight: 400;
}
.login__already-logged {
  opacity: 0;
}
.login__already-logged-container {
  padding: 20px 10px;
  margin: 20px 20px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: unset;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.341);
}
.login__already-logged-container h3 {
  text-align: center;
}
.login__already-logged-container p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
.login__already-logged-container ul {
  margin-left: 10px;
  list-style-type: disc;
  padding: 10px;
}
.login__already-logged-container ul li {
  padding: 5px;
}

@media screen and (min-width: 640px) {
  .login__already-logged-container {
    max-width: 584px;
    margin: 20px auto;
  }
  .login__auth-container {
    max-width: 584px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 658px) {
  .login__header {
    background-size: contain;
  }
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.register__header {
  background-image: url("../imgs/banner-register-1920x560.png");
  background-size: cover;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.register__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.register__user-data-container {
  width: 90%;
  max-width: 400px;
  min-height: 220px;
  padding: 20px 10px;
  margin: 20px auto;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.341);
}
.register__user-data-container h3 {
  text-align: center;
}
.register__user-data-container p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
.register__user-data-container > div {
  position: relative;
  opacity: 0;
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  color: red;
  border-bottom: 1px solid red;
}
.register__user-data-container > div img {
  display: none;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
}
.register__user-data-container .register__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.register__user-data-container .register__form div {
  justify-content: center;
}
.register__user-data-container .register__form label {
  width: 40%;
}
.register__user-data-container .register__form input {
  width: 100%;
}
.register__user-data-container .register__form .username {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .username-input-container {
  height: 50px;
  display: flex;
  flex-direction: column;
}
.register__user-data-container .register__form .username-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .username-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .break-row-password {
  margin: 20px 0;
}
.register__user-data-container .register__form .password {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .password-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .password-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .password-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .name {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .name-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .name-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .name-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .email {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .email-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .email-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .email-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .phone {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .phone-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .phone-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .phone-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .address {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .address-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .address-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .address-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form .confirm-password {
  display: flex;
  align-items: center;
  width: 100%;
}
.register__user-data-container .register__form .confirm-password-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  align-items: right;
}
.register__user-data-container .register__form .confirm-password-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.register__user-data-container .register__form .confirm-password-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.register__user-data-container .register__form button {
  margin: 20px auto 0;
  width: 60vw;
  max-width: 320px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.register__user-data-container .password-rules {
  text-align: left;
  font-weight: 700;
  text-indent: 30px;
  font-size: 14px;
  margin: -20px;
  padding: 20px 0;
  list-style: inside;
  list-style-type: " → ";
}
.register__user-data-container .password-rules li {
  font-weight: 400;
}

@media screen and (min-width: 658px) {
  .register__header {
    background-size: contain;
  }
  .register__user-data-container {
    max-width: 700px;
  }
  .register__user-data-container .register__form div {
    max-width: 80%;
    margin: 0 auto;
  }
  .register__user-data-container .register__form label {
    width: 20vw;
    max-width: 400px;
  }
  .register__user-data-container .register__form input {
    width: 40vw;
    max-width: 400px;
  }
  .register__user-data-container .register__form button {
    width: 60vw;
    max-width: 540px;
    margin: 20px auto 0;
  }
}
.order {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.order__header {
  background-image: url("../imgs/banner-order-1920x560.png");
  background-size: cover;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.order__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.order__product-container {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.324);
}
.order__product-container .order__product {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.order__product-container .order__product h3 {
  text-align: center;
  padding: 10px;
}
.order__product-container .order__product img {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}
.order__product-container .order__product-description {
  padding: 10px;
}
.order__product-container .order__product-price {
  padding: 10px;
  font-weight: 700;
}
.order__product-container .order__product label {
  padding: 0 10px;
}
.order__product-container .order__product textarea {
  margin: 10px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: var(--font);
}
.order__product-container .order__product button {
  margin: 10px;
  padding: 10px;
  font-weight: 700;
}

@media screen and (min-width: 658px) {
  .order__header {
    background-size: contain;
  }
}
.cart {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cart__header {
  background-image: url("../imgs/banner-cart-1920x560.png");
  background-size: cover;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.cart__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.cart__products-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.cart__products-container .cart__products-item {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  box-shadow: inset 3px -3px white, inset -3px 3px white, inset 1px -1px 4px rgba(0, 0, 0, 0.276), inset -1px 1px 4px rgba(0, 0, 0, 0.276);
}
.cart__products-container .cart__products-item .thumbnail img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.cart__products-container .cart__products-item .item-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.cart__products-container .cart__products-item .item-data-container .item-name-and-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.cart__products-container .cart__products-item .item-data-container .item-name-and-price .price {
  font-weight: 700;
}
.cart__products-container .cart__products-item .item-data-container .item-management {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart__products-container .cart__products-item .item-data-container .item-management .item-quantity {
  display: flex;
  gap: 0.25rem;
}
.cart__products-container .cart__products-item .item-data-container .item-management .item-quantity .remove-one {
  padding: 5px 10px;
  background-color: red;
}
.cart__products-container .cart__products-item .item-data-container .item-management .item-quantity .add-one {
  padding: 5px 10px;
}
.cart__products-container .cart__products-item .item-data-container .item-management .item-quantity .number {
  padding: 0 5px;
  font-weight: 700;
}
.cart__products-container .cart__products-item .item-data-container .item-management .remove-item .remove {
  background-color: red;
  padding: 5px 10px;
}
.cart .cart__total-value {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.cart .cart__total-value p {
  font-weight: 700;
}
.cart .value-and-buttons-container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
}
.cart .finish-or-keepshopping {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;
}
.cart .finish-or-keepshopping .keep {
  background-color: white;
  border: 1px solid var(--secondary-color-dark);
  color: var(--secondary-color-dark);
  width: 40vw;
  padding: 5px 0;
}
.cart .finish-or-keepshopping .finish {
  text-transform: uppercase;
  font-weight: 700;
  width: 40vw;
  padding: 5px 0;
}

@media screen and (min-width: 658px) {
  .cart__header {
    background-size: contain;
  }
  .cart .cart__products-container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
  .cart .cart__products {
    margin-top: 20px;
  }
  .cart .cart__products-item {
    max-width: none;
  }
  .cart .cart__products-item .item-data-container {
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .cart .cart__products-item .item-data-container .item-name-and-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
  }
  .cart .cart__products-item .item-data-container .item-name-and-price .name {
    width: 50%;
  }
  .cart .cart__products-item .item-data-container .item-name-and-price .price {
    font-weight: 700;
    width: 50%;
  }
  .cart .cart__products-item .item-data-container .item-management {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
  }
  .cart .cart__products-item .item-data-container .item-management .item-quantity {
    display: flex;
    gap: 0.25rem;
    width: 50%;
  }
  .cart .cart__products-item .item-data-container .item-management .item-quantity .remove-one {
    padding: 5px 10px;
    background-color: red;
  }
  .cart .cart__products-item .item-data-container .item-management .item-quantity .add-one {
    padding: 5px 10px;
  }
  .cart .cart__products-item .item-data-container .item-management .item-quantity .number {
    padding: 0 5px;
    font-weight: 700;
  }
  .cart .cart__products-item .item-data-container .item-management .remove-item {
    width: 50%;
  }
  .cart .cart__products-item .item-data-container .item-management .remove-item .remove {
    background-color: red;
    padding: 5px 10px;
  }
  .cart .value-and-buttons-container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
  }
  .cart .value-and-buttons-container .finish-or-keepshopping {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
  }
  .cart .value-and-buttons-container .finish-or-keepshopping .keep {
    max-width: 200px;
  }
  .cart .value-and-buttons-container .finish-or-keepshopping .finish {
    max-width: 200px;
  }
}
.order-status {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.order-status__header {
  background-image: url("../imgs/banner-order-status-1920x560.png");
  background-size: cover;
  background-color: var(--primary-color);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.order-status__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.order-status__orders .order {
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.29);
  border-radius: 3px;
  padding: 0 10px;
}
.order-status__orders .order h3 {
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
}
.order-status__orders .order__products {
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: inset 3px -3px white, inset -3px 3px white, inset 1px -1px 4px rgba(0, 0, 0, 0.276), inset -1px 1px 4px rgba(0, 0, 0, 0.276);
}
.order-status__orders .order__products img {
  width: 40px;
}
.order-status__orders .order__products-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.order-status__orders .order__status {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-weight: 700;
}

@media screen and (min-width: 658px) {
  .order-status__header {
    background-size: contain;
  }
  .order-status__orders .order {
    max-width: 900px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.29);
    border-radius: 3px;
    padding: 0 10px;
  }
  .order-status__orders .order__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
    font-weight: 700;
  }
}
.admin {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 51px 10px 0;
  background-color: white;
}
.admin ul {
  list-style: none;
}
.admin section {
  width: 100%;
  padding: 1px;
  border: 2px solid var(--primary-color-light);
  margin: 10px 10px 0;
}
.admin section .open {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}
.admin__clients-list {
  border: 2px solid var(--primary-color-light);
}
.admin__clients-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.admin__clients-list ul li span {
  max-width: 50%;
  font-size: 18px;
  font-weight: 500;
  word-break: break-all;
}
.admin__clients-list ul li .buttons .edit {
  background-color: rgb(0, 115, 255);
  position: relative;
}
.admin__clients-list ul li .buttons .remove {
  background-color: red;
}
.admin__clients-list ul li .buttons .button {
  padding: 10px;
}
.admin__clients-list ul li:nth-child(2n-1) {
  background-color: rgba(255, 0, 0, 0.137);
}
.admin__clients-list .background-container {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.admin__clients-list .background-container .admin__item-edit {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
}
.admin__clients-list .background-container .admin__item-edit form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
}
.admin__clients-list .background-container .admin__item-edit form h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 10px;
  text-transform: capitalize;
}
.admin__clients-list .background-container .admin__item-edit form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.272);
}
.admin__clients-list .background-container .admin__item-edit form > div label {
  margin-left: 5px;
}
.admin__clients-list .background-container .admin__item-edit form > div input {
  height: 30px;
  width: 65%;
  text-indent: 10px;
  font-family: var(--font);
  font-size: 14px;
}
.admin__clients-list .background-container .admin__item-edit form .buttons {
  padding: 10px;
  justify-content: space-around;
}
.admin__clients-list .background-container .admin__item-edit form .buttons button {
  padding: 5px 10px;
  font-weight: 500;
}
.admin__clients-list .background-container .admin__item-edit form .buttons .reset {
  background-color: lightgray;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}
.admin__clients-list .background-container .admin__item-edit form .buttons .cancel {
  background-color: red;
}
.admin__products-list {
  border: 2px solid var(--primary-color-light);
}
.admin__products-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.admin__products-list ul li span {
  max-width: 50%;
  font-size: 18px;
  font-weight: 500;
  word-break: break-all;
}
.admin__products-list ul li .buttons .edit {
  background-color: rgb(0, 115, 255);
}
.admin__products-list ul li .buttons .remove {
  background-color: red;
}
.admin__products-list ul li .buttons .button {
  padding: 10px;
}
.admin__products-list ul li:nth-child(2n-1) {
  background-color: rgba(255, 0, 0, 0.137);
}
.admin__products-list .background-container {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.admin__products-list .background-container .admin__item-edit {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
}
.admin__products-list .background-container .admin__item-edit form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
}
.admin__products-list .background-container .admin__item-edit form h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 10px;
  text-transform: capitalize;
}
.admin__products-list .background-container .admin__item-edit form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.272);
}
.admin__products-list .background-container .admin__item-edit form > div label {
  margin-left: 5px;
}
.admin__products-list .background-container .admin__item-edit form > div input {
  height: 30px;
  width: 65%;
  text-indent: 10px;
  font-family: var(--font);
  font-size: 14px;
}
.admin__products-list .background-container .admin__item-edit form .buttons {
  padding: 10px;
  justify-content: space-around;
}
.admin__products-list .background-container .admin__item-edit form .buttons button {
  padding: 5px 10px;
  font-weight: 500;
}
.admin__products-list .background-container .admin__item-edit form .buttons .reset {
  background-color: lightgray;
  border: 1px solid black;
  color: black;
}
.admin__products-list .background-container .admin__item-edit form .buttons .cancel {
  background-color: red;
}
.admin__orders-list {
  border: 2px solid var(--primary-color-light);
}
.admin__orders-list ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.admin__orders-list ul li span {
  max-width: 50%;
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
}
.admin__orders-list ul li .buttons .edit {
  background-color: rgb(0, 115, 255);
}
.admin__orders-list ul li .buttons .remove {
  background-color: red;
}
.admin__orders-list ul li .buttons .button {
  padding: 10px;
}
.admin__orders-list ul li:nth-child(2n-1) {
  background-color: rgba(255, 0, 0, 0.137);
}
.admin__orders-list .background-container {
  position: absolute;
  top: 51px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.admin__orders-list .background-container .admin__item-edit {
  position: sticky;
  top: 51px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: white;
}
.admin__orders-list .background-container .admin__item-edit form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 3px;
}
.admin__orders-list .background-container .admin__item-edit form h3 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 0 0 10px;
  text-transform: capitalize;
}
.admin__orders-list .background-container .admin__item-edit form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.272);
}
.admin__orders-list .background-container .admin__item-edit form > div label {
  margin-left: 5px;
}
.admin__orders-list .background-container .admin__item-edit form > div input {
  height: 30px;
  width: 65%;
  text-indent: 10px;
  font-family: var(--font);
  font-size: 14px;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field {
  flex-direction: column;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field p {
  font-weight: 500;
  margin-bottom: 10px;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field ul {
  width: 100%;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field ul li {
  font-weight: 500;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field ul li span {
  font-weight: 500;
  font-size: 16px;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field ul li .removeProductFromOrder {
  background-color: red;
  padding: 5px 10px;
}
.admin__orders-list .background-container .admin__item-edit form > div.productData-field .addProductOnOrder {
  padding: 5px 10px;
  margin: 10px 5px 5px;
}
.admin__orders-list .background-container .admin__item-edit form .buttons {
  padding: 10px;
  justify-content: space-around;
}
.admin__orders-list .background-container .admin__item-edit form .buttons button {
  padding: 5px 10px;
  font-weight: 500;
}
.admin__orders-list .background-container .admin__item-edit form .buttons .reset {
  background-color: lightgray;
  border: 1px solid black;
  color: black;
}
.admin__orders-list .background-container .admin__item-edit form .buttons .cancel {
  background-color: red;
}

.title {
  margin: 0.5px 0;
  padding: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--primary-color);
}

.selected {
  background-color: var(--primary-color-light);
  color: white;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 0.5rem;
  font-weight: 500;
}
.search input {
  text-indent: 10px;
  font-family: var(--font);
  font-size: 16px;
  height: 30px;
  width: 100%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 640px) {
  .admin__clients {
    max-width: 900px;
    margin: 0 auto;
  }
  .admin__clients-list .admin__item-edit {
    max-width: 900px;
  }
  .admin__products {
    max-width: 900px;
    margin: 0 auto;
  }
  .admin__products-list .admin__item-edit {
    max-width: 900px;
  }
  .admin__orders {
    max-width: 900px;
    margin: 0 auto;
  }
  .admin__orders-list .admin__item-edit {
    max-width: 900px;
  }
}
.edit-profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.edit-profile__header {
  background-image: url("../imgs/banner-login-1920x560.png");
  background-color: var(--primary-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.edit-profile__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.edit-profile__container {
  width: 80%;
  max-width: 320px;
  margin: 10px auto;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.342);
}
.edit-profile__container h3 {
  padding: 0 10px 10px;
  text-align: center;
}
.edit-profile__container form {
  display: flex;
  flex-direction: column;
}
.edit-profile__container form div {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit-profile__container form div input {
  min-height: 30px;
  width: 60%;
}
.edit-profile__container form .buttons {
  margin-top: 20px;
  justify-content: space-around;
  font-weight: 500;
}
.edit-profile__container form .buttons .confirm {
  padding: 5px 10px;
}
.edit-profile__container form .buttons .reset {
  padding: 5px 10px;
  background-color: lightgray;
  border: 1px solid black;
  color: black;
}
.edit-profile__container form .buttons .cancel {
  background-color: red;
  padding: 5px 10px;
}

@media screen and (min-width: 640px) {
  .edit-profile__container {
    max-width: 584px;
    margin: 10px auto;
  }
  .edit-profile__container form .buttons {
    width: 60%;
    margin: 20px auto;
  }
}
@media screen and (min-width: 658px) {
  .edit-profile__header {
    background-size: contain;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */