* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.025rem;
}

@import 'variables';
@import 'components';

main {
  min-height: 100vh;
}

body {
  font-family: var(--font);
  background-color: lightgray;
}

.header {  
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.256);

  &__container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    color: white;
  }

  &__logo {
    height: 40px;
    width: 40px;
  }

  p {
    font-size: 20px;
    font-weight: 400;
  }

  &__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-image: url('../imgs/cart-100x100.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35px;
    height: 35px;
    right: 15%;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
    
    &>p {
      text-align: center;
      font-size: 10px;
      width: 100%;
      padding: 0 9px 17px 0;
      font-weight: 700;
    }
  }

  &__burguer-menu {
    height: 30px;
    width: 35px;
    &:hover {
      cursor: pointer;
    }
  }

  .menu-button--active {
    border: 3px solid white;
    border-bottom: 10px solid white;
  }

  .show {
    display: block;
  }

  &__navmenu {    
    display: none; //block
    background-color: white;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 5;
    width: 50%;
    max-width: 275px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.244);
    border-bottom-left-radius: 4px;

    &-item {
      list-style: none;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.128);

      &:hover {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.584);
        
      }

      a {
        text-decoration: none;
        text-align: center;
        display: block;
        padding: 5px 20px;
        color: var(--primary-color);
        font-weight: 500;
        font-size: 20px;

        &:hover {
          color: var(--primary-color-dark);
        }
      }
    }
  }
}

.footer {
  display: none;
}

@media screen and (min-width: 320px){
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.263);

    h4 {
      padding: 10px;
      text-align: center;
    }

    &__location {
      padding: 10px;
      border: 2px solid rgba(0, 0, 0, 0.272);
    }

    p {
      text-align: center;
      padding: 30px;
      font-size: 14px;
      font-weight: 500;
    }
  }
}

@import 'home';
@import 'menu';
@import 'login';
@import 'register';
@import 'order';
@import 'cart';
@import 'order-status';
@import 'admin';
@import 'edit-profile';

.hidden {
  display: none;
}