@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.025rem;
}

:root {
  --primary-color: red;
  --primary-color-dark: rgb(107, 3, 3);
  --primary-color-light: rgb(253, 82, 82);
  --secondary-color: rgb(2, 143, 2);
  --secondary-color-dark: rgb(1, 76, 1);
  --secondary-color-light: rgb(4, 231, 4);
  --font: "Urbanist", sans-serif;
}

.outline-text {
  text-shadow: 5px 0px var(--secondary-color), 0px 5px var(--secondary-color), -5px 0px var(--secondary-color), 0px -5px var(--secondary-color), 5px -5px var(--secondary-color), -5px 5px var(--secondary-color), -5px -5px var(--secondary-color);
}

.button {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary_color-light);
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.54);
  text-align: center;
  color: white;
}
.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button:active {
  box-shadow: inset 1px 1px 2.5px rgba(0, 0, 0, 0.455);
  color: rgb(216, 216, 216);
}

html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font);
  background-color: lightgray;
}

.header {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background-color: var(--primary-color);
  height: 50px;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: white;
}
.header__logo {
  height: 40px;
  width: 40px;
}
.header p {
  font-size: 24px;
  font-weight: 400;
}
.header__burguer-menu {
  height: 30px;
  width: 35px;
}
.header .menu-button--active {
  border: 3px solid white;
  border-bottom: 10px solid white;
}
.header .show {
  display: block;
}
.header__navmenu {
  display: none;
  background-color: white;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 5;
  width: 50%;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.244);
  border-bottom-left-radius: 4px;
}
.header__navmenu-item {
  list-style: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.128);
}
.header__navmenu-item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.584);
}
.header__navmenu-item a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 5px 20px;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 20px;
}
.header__navmenu-item a:hover {
  color: var(--primary-color-dark);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home__header {
  background-image: url("../imgs/food-banner-1920x560.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.home__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.home .home__products {
  position: relative;
  background-color: lightgray;
  padding: 15px 0;
}
.home .home__products .left-arrow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 40px;
  opacity: 0.5;
  z-index: 5;
}
.home .home__products .right-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 40px;
  opacity: 0.5;
  z-index: 5;
}
.home .home__products-wrapper::-webkit-scrollbar {
  display: none;
}
.home .home__products-wrapper {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  -ms-scroll-snap-type: x;
      scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: -webkit-grab;
  cursor: grab;
}
.home .home__products-wrapper .slider {
  scroll-snap-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.235);
  margin: 0 10px;
}
.home .home__products-card {
  position: relative;
  background-color: white;
  min-width: 320px;
  width: 100vw;
  padding: 10px 20px 10px;
  border-radius: 5px;
  overflow: hidden;
}
.home .home__products-card .sale-span {
  position: absolute;
  top: 20px;
  left: -50px;
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  transform: rotate(320deg);
  text-align: center;
  width: 180px;
  overflow: hidden;
}
.home .home__products-card h3 {
  padding: 10px 10px 20px;
  font-size: 16px;
  text-align: center;
}
.home .home__products-card .caption-img-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.home .home__products-card .caption-img-box .caption-button-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .home__products-card .caption-img-box .caption-button-box figcaption {
  font-size: 14px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.home .home__products-card .caption-img-box .caption-button-box .button {
  text-transform: uppercase;
  font-weight: 700;
  padding: 5px;
  width: 100%;
}
.home .home__products-card .caption-img-box img {
  height: 50%;
  width: 50%;
  margin-right: 10px;
  z-index: 0;
}
.home .home__reviews-container {
  background-color: white;
  margin-top: 10px;
  padding: 10px 20px;
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.home .home__reviews-container .stars {
  text-align: center;
}
.home .home__reviews-container .review {
  padding-top: 5px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
}
.home .home__reviews-container .user {
  text-align: right;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu__header {
  background-image: url("../imgs/banner-menu-1920x560.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.menu__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.menu__products-type {
  position: relative;
  background-color: white;
  padding: 20px 20px 0px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
}
.menu__products-type .left-arrow {
  position: absolute;
  top: 83px;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.menu__products-type .right-arrow {
  position: absolute;
  top: 83px;
  right: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.menu__products-type p {
  text-align: center;
  padding: 10px;
  font-weight: 500;
}
.menu__products-type-wrapper::-webkit-scrollbar {
  display: none;
}
.menu__products-type-wrapper {
  display: flex;
  justify-content: start;
  overflow-x: auto;
  -ms-scroll-snap-type: x;
      scroll-snap-type: x;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding: 20px 0px;
  cursor: -webkit-grab;
  cursor: grab;
}
.menu__products-type-wrapper .slider {
  scroll-snap-align: start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 0 10px;
}
.menu__products-type-wrapper .slider button {
  background-color: var(--primary-color);
  color: white;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 5px 10px;
}
.menu__products {
  position: relative;
  padding: 20px;
  text-align: center;
}
.menu__products .loading-gif {
  display: none;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  margin: 20px auto;
  width: 40%;
  max-width: 180px;
  z-index: 5;
  border-radius: 50%;
}
.menu__products-container figure {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.404);
}
.menu__products-container figure h3 {
  text-align: center;
  padding: 10px;
}
.menu__products-container figure img {
  width: 80%;
}
.menu__products-container figure figcaption {
  padding: 10px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  text-align: justify;
}
.menu__products-container figure p {
  font-weight: 700;
  padding: 10px 0;
}
.menu__products-container figure button {
  width: 80%;
  padding: 10px;
  font-weight: 700;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.login__header {
  background-image: url("../imgs/banner-login-1920x560.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.263);
  z-index: 1;
}
.login__header-container {
  position: relative;
  margin-top: 70px;
  min-height: 120px;
  width: 100%;
  text-align: center;
}
.login__auth-container {
  min-height: 220px;
  padding: 20px 10px;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.441);
}
.login__auth-container h3 {
  text-align: center;
}
.login__auth-container p {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
}
.login__auth-container > span {
  display: none;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  color: red;
  border-bottom: 1px solid red;
}
.login__auth-container .login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.login__auth-container .login__form .username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.login__auth-container .login__form .username-input-container {
  height: 50px;
  display: flex;
  flex-direction: column;
}
.login__auth-container .login__form .username-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.login__auth-container .login__form .username-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.login__auth-container .login__form .password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login__auth-container .login__form .password-input-container {
  display: flex;
  flex-direction: column;
  height: 50px;
}
.login__auth-container .login__form .password-input-container input {
  min-height: 25px;
  text-indent: 10px;
}
.login__auth-container .login__form .password-input-container span {
  text-align: center;
  opacity: 0;
  color: red;
  font-size: 12px;
}
.login__auth-container .login__form button {
  padding: 10px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.login__auth-container .password-rules {
  font-weight: 700;
  text-indent: 30px;
  font-size: 14px;
  padding: 10px;
  list-style: inside;
  list-style-type: " → ";
}
.login__auth-container .password-rules li {
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */